.bgraund{
    height:650px;
    background-image: var(--main-bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
     margin: 20px;
    box-shadow: 5px 5px 5px 0px gray;
    
}
.main{
    background-color: var(--main-bg-color);
}
/*.container{
    border: 1px solid moccasin;
}*/
label{
     text-indent: 20px;
}
md-card{
    width: 20em;
}
form {
    display: flex;
    flex-direction: column;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
#snow{
    position: absolute;
    font-family: Androgyne;
	background-image: url('https://media.giphy.com/media/AlYwEvIYJAA7e/source.gif');
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index:12;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
@media (min-width: 376px) and (max-width: 902px) {
  form{
    padding: 10px;
}
.bgraund{
    margin: 10px;
}
 }